{% extends 'baseuser.html' %}
{% block content %}

    <!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-3">
        <h1 class="h3 mb-0 text-gray-800">View My Tickets</h1>
        <div class="col-3">
            <input type="number"class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search for Ticket id..">
        </div>
    </div>

    <!-- Content Row -->
    <!-- all tickets Card Example -->
    <div class="row">
    <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2" data-toggle="tooltip" data-placement="top" title="Number of All tickets (includes resolved tickets)">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">All tickets</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ ticket }}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-ticket-alt fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Unresolved Tickets Card Example -->
          <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-danger shadow h-100 py-2" data-toggle="tooltip" data-placement="top" title="Number of Unresolved tickets">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Unresolved Tickets</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ unresolved }}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-check-double fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Unread Messages Card Example -->
          <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2" data-toggle="tooltip" data-placement="top" title="Number of tickets with new unread messages">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Unread tickets</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ unread }}</div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-comments fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

    <div class="card mb-4">
		<div class="table">

                <div class="table">

                        <table id="tabledata" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>Allocated admin</th>
                                <th>Title</th>
                                <th>Read</th>
                                <th>Resolved </th>
            
                            </tr>
                            </thead>
                            <tbody>
                            {% load static %}
                            {% for line in list %}
                                <tr><td>{{line.id}}</td>
                                    <td>{{line.user}}</td>
                                    <td><a href="/ticket_creation/detail/?id={{ line.id }}" >{{line.title}}</a></td>
                                    <td>{{line.read}}</td>
                                    <td>{{ line.resolved }}</td>
                                </tr>
                            {% endfor %}
            
                            <script>
                                function clicked() {
                                    if (confirm('Do you want to delete?')) {
                                        yourformelement.submit();
                                    } else {
                                        return false;
                                    }
                                }
                            </script>
                            </tbody>
                        </table>
            
                   </div>
                   </div>
                   
                </div>
            </div>


<script>
        function myFunction() {
          // Declare variables 
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("tabledata");
          tr = table.getElementsByTagName("tr");
        
          // Loop through all table rows, and hide those who don't match the search query
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            } 
          }
        }
</script>

{% endblock %}