
{% extends 'baseadmin.html' %}
{% block content %}

<!-- Ticket -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Ticket Forum</h1>
      <div>
        {% if request.user.is_superuser %}
          {% if all_tickets_data.resolved_by == None %}
          <form method="POST" action="">{% csrf_token %}
              <a href="/ticket_creation/resolve/?id={{ item.0.ticket_id }}" role="button" class="btn btn-success btn-lg" onclick="return clicked();">Resolve Ticket</a>
          </form>
          {% endif %}
        {% endif %}
      </div>
      <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
  </div>

  <div class="card">
      <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <div class="container">
                  <div class="row">
                      <div class="col-2">
                          <dl class="param param-feature">
                              <dt>Title</dt>
                              <dd>{{ info.title }}</dd>
                          </dl>
                      </div>

                      <div class="col-3">
                          <dl class="param param-feature">
                              <dt>Ticket/Reply id (in Ticket_Details)</dt>
                              <dd>{{ info.id }}</dd>
                          </dl>
                      </div>

                      <div class="col-2">
                          <dl class="param param-feature">
                              <dt>Ticket/Reply author</dt>
                              <dd>{{ info.author }}</dd>
                          </dl>
                      </div>

                      <div class="col-3">
                          <h2 class="mb-0">
                              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Ticket Description
                              </button>
                          </h2>
                      </div>

                      <div class="col-2">
                          <dl class="param param-feature">
                              <dt>Attached file</dt>
                              {% if info.file %}
                              <dd><a href={{ info.file }}>{{ info.file }}</a></dd>
                              {% else %}
                              <dd>None</dd>
                              {% endif %}
                          </dl>
                      </div>


                  </div>
              </div>
          </div>
          <!-- Ticket Discription Details Accordian content -->
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                  <dl class="param param-feature">
                      <dt>Description</dt>
                      <dd>{{ info.description }}</dd>
                  </dl>
              </div>
          </div>

        </div>
      </div>
  </div>
</div>

<!-- Forum Start -->
<div class="container-fluid my-4 mb-4">
  <div class="card pa-2">
    <div class = "card-header my-1">
      <h4>
        Re: {{ info.title }}
      </h4>
    </div>
    <div class="mesgs">
        <div class="msg_history">
        {% for row in item %}
            {% if row.type == 0 %}
            <div class="card my-1 mb-3">
                <div class="card-header">
                    <span>By {{user}} @ {{ row.time }}</span>
                </div>
                <div class="card-body">
                  <p>{{ row.description }}</p>
                  {% if row.file %}
                  <small>Attached file: </small>
                  <dd><a href={{ info.file }}>{{ row.file }}</a></dd>
                  {% endif %}

              </div>
            </div>

            {% endif %}

            {% if row.type == 1%}

                            <div class="card my-1 mb-3">
                              <div class="card-header">
                                  <span>By {{row.username}} @ {{ row.time }}</span>
                              </div>
                              <div class="card-body">
                                <p>{{ row.description }}</p>
                                
                                {% if row.file %}
                                <small>Attached file: </small>
                                <dd><a href={{ info.file }}>{{ row.file }}</a></dd>
                                {% endif %}
                          </dl>

                            </div>
                          </div>

            {%  endif %}
      {% endfor %}
        </div>
     <form method="post" enctype="multipart/form-data">
        <div class="inbox_msg mb-4">
            <div class="type_msg">
                {% csrf_token %}
                <div class="card">
                    <div class="input_msg_write">
                        <input type="text" class="write_msg" name="description" placeholder="Type Message.." />
                    </div>
                    <div class="form-label-group mb-2">
                        <label class="small" for="exampleFormControlFile1">Attach File/Media: </label>
                        <input type="file" name="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                    <button class="btn btn-lg btn-info btn-block text-uppercase" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>submit</button>
                </div>
            </div>
        </div>
     </form>
    </div>
  </div>

</div>




<script>
  function clicked() {
    if (confirm('Do you want to resolve this ticket?')) {
      yourformelement.submit();
    } else {
      return false;
      }
    }
</script>

      <style>
          img{ max-width:100%;}



          .recent_heading {float: left; width:40%;}



          .recent_heading h4 {
            color: #05728f;
            font-size: 21px;
            margin: auto;
          }

          .srch_bar .input-group-addon button {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            border: medium none;
            padding: 0;
            color: #707070;
            font-size: 18px;
          }
          .srch_bar .input-group-addon { margin: 0 0 0 -27px;}

          .chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
          .chat_ib h5 span{ font-size:13px; float:right;}
          .chat_ib p{ font-size:14px; color:#989898; margin:auto}
          .chat_img {
            float: left;
            width: 11%;
          }




          .incoming_msg_img {
            display: inline-block;
            width: 6%;
          }
          .received_msg {
            display: inline-block;
            padding: 0 0 0 10px;
            vertical-align: top;
            width: 100%;
           }
           .received_withd_msg p {
            background: #ebebeb none repeat scroll 0 0;
            border-radius: 3px;
            color: #646464;
            font-size: 14px;
            margin: 0;
            padding: 5px 10px 5px 12px;
            width: 100%;
          }
          .time_date {
            color: #747474;
            display: block;
            font-size: 12px;
            margin: 8px 0 0;
          }
          .received_withd_msg { width: 99%;}
          .mesgs {
            padding: 30px 15px 0 25px;
            width: 100%;
          }

           .sent_msg p {
            background: #ebebeb none repeat scroll 0 0;
            border-radius: 3px;
            font-size: 14px;
            margin: 0; color:black;
            padding: 5px 10px 5px 12px;
            width:100%;
          }
          .outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
          .sent_msg {
            /* float: right; */
            width: 100%;
          }
          .input_msg_write input {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            border: medium none;
            color: #4c4c4c;
            font-size: 15px;
            min-height: 48px;
            width: 100%;
          }

          .type_msg {position: relative;}

          .msg_send_btn {
            background: #05728f none repeat scroll 0 0;
            border: medium none;
            border-radius: 50%;
            color: #fff;
            cursor: pointer;
            font-size: 17px;
            height: 33px;
            position: absolute;
            right: 0;
            top: 11px;
            width: 33px;
          }
          .messaging { padding: 0 0 50px 0;}
          .msg_history {
            overflow-y: auto;
          }
</style>


{% endblock %}