
{% extends 'baseadmin.html' %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Hello, There!</h1>
    <p class="lead">There are currently no tickets to be shown at the moment.</p>
    <hr class="my-4">
    <p>Refresh your browser or check back in later. If there ar any tickets created, you will be informed by your preferred contact choice. <br>
        Thank you!
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>

{% endblock %}